html {
  background-color: #000;
  color: #fff; 
}

html,
body {
  margin: 0;
  padding: 0;
}

body
 {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  font-weight: bold;
  
}

h1 {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  
}

h2 {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 60px;
  line-height: 60px;
  font-weight: bold;
  
}

h3 {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

.clearfix::after {
  content:"";
  display: table;
  clear: both;
}

.wrapper {
  width: 1200px;
  background-color: #849d8f;
  margin: 0 auto;
  outline: 2px solid #0deb6c;
}

.main-header {
  margin-bottom: 10px;
  outline: 2px solid #0deb6c;
}

.container {
  position: relative;
  padding: 0 27px;
  outline: 2px solid #0deb6c;
}

.logo {
  float: left;
  width: 152px;
  min-height: 74px;
  margin-right: 22px;
  outline: 2px solid #0deb6c;
}

.main-navigation {
  float: left;
  width: 410px;
  min-height: 74px;
  outline: 2px solid #0deb6c;
}

.main-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-menu > li{
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  white-space: nowrap;
    
}

.main-menu a {
  display: block;
  
}

.main-menu .main-submenu {
  position: absolute;
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-menu > li:hover .main-submenu {
  display: block;
  
  top: 15px;
  left: 0px;
  z-index: 1;
}

.main-submenu a:hover {
  background-color: #fbded7
}

.user-blok {
  float: right;
  margin-left: 26px;
  width: 267px;
  min-height: 74px;
  outline: 2px solid #0deb6c;
}

.user-blok > div  {
  display: inline;
  vertical-align: bottom;
}


.timetable {
  position: absolute;
  top: 70px;
  right: 100px;
  outline: 2px solid #0deb6c;
}



.slider {
  position: relative;
  min-height: 584px;
  outline: 2px solid #0deb6c;
}


.gift-container{
  min-height: 260px;
  margin-bottom: 35px;
  outline: 2px solid #0deb6c;
}

.gift-item {
  float: left;
  width: 560px;
  min-height: 230px;
  margin-right: 26px;
  outline: 2px solid #0deb6c;
}


.gift-item:last-child {
  margin-right: 0px;
  
}

.ice-cream {
  margin-bottom: 39px;
  font-size: 0px;
  outline: 2px solid #0deb6c;
}

.ice-cream-item {
  display: inline-block;
  vertical-align: top;
  width: 267px;
  min-height: 232px;
  margin-right: 26px;
  font-size: 16px;
  outline: 2px solid #0deb6c;
}

.ice-cream-item:nth-child(4n) {
  margin-right: 0;
}

.features {
  margin-bottom: 40px;
  width: 1146px;
  background: url('../img/wafe_pattern.jpg')
 }

.features h3 {
  margin: 0;
  padding: 0;
}  

.features-left  {
  float: left;
  width: 560px;
  margin-right: 26px;
  
}

.features-left p {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  padding-left: 75px;
}

::before  {
  background: url('../img/ice-cream-icon.png') no-repeat;
} 

.leaf-icon::before {
  background: url('../img/leaf.png') no-repeat;
}

.features-right {
  float:right;
  width: 560px;
}

.features-right p {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  padding-left: 75px;
}

.cow-icon::before {
  background: url('../img/cow-icon.png') no-repeat;
}

.thermometer-icon::before {
  background: url('../img/thermometer-icon.png') no-repeat;
} 

.communion {
  margin-bottom: 40px;
  outline: 2px solid #0deb6c;
}

.communion-item {
  width: 560px;
  min-height: 220px;
  float: left;
  margin-right: 26px;
  outline: 2px solid #0deb6c;
}

.communion-item:last-child {
  margin-right: 0px;
}

.contacts {
  box-sizing: border-box;
  width: 1200px;
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
  min-height: 430px;
  margin: 0 auto;
  padding-left: 0px;
  padding-right: 0px;
  outline: 2px solid #0deb6c;
}
.contacts img {
  display: block;
}

.contacts-form {
  position: absolute;
  top: 62px;
  right: 26px;
  width: 303px;
  height: 305px;
  background-color: #fefefe;
  color: #000000;
  outline: 2px solid #0deb6c;
}

.main-footer {
  min-height:103px;
  
}

.footer-socials{
  width: 267px;
  float: left;
  min-height:103px;
  margin-right: 26px;
  outline: 2px solid #0deb6c;
}

.footer-socials a {
  display: inline-block;
  vertical-align: bottom;
}

.provider-info {
  float: left;
  min-height:103px;
  width: 560px;
  margin-right: 26px;
  outline: 2px solid #0deb6c;
}

.provider-info-left {
  display: inline-block;
  vertical-align: bottom;
  margin: 0;
  padding:0;
  list-style: none;
  margin-left: 130px;
  margin-right: 33px;
}

.provider-info-left li:first-child::before {
  content: "";
  background-image: url('../img/hart.png');
  
}

.provider-info-right {
  display: inline-block;
  vertical-align: bottom;
  margin: 0;
  padding:0;
  list-style: none;
}
  

.footer-copyright {
  display: inline-block;
  vertical-align: bottom;
  float: right;
  min-height:103px;
  width: 267px;
  outline: 2px solid #0deb6c;
 
}


.slider-inner {
  
}

.slider-slides {
  width: 300%;
}

.slider-slides img {
  float: left;
}

.catalog-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-menu > li {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

.catalog-menu > li:last-child {
  margin-right: 0px;
}

.filter {
  width: 880px;
  min-height: 138px;
  margin-bottom: 39px;
  outline: 2px solid #0deb6c;
}

.sorting-criterion {
  display: inline-block;
  vertical-align: bottom;
  width: 194px;
}

.sorting-price {
  display: inline-block;
  vertical-align: bottom;
 width: 220px;  
}

.price input[type="text"] {
  width: 55px;
}

.skroll {
  
  width: 190px;
  background: #d1dad3;
  height: 4px;
  margin-top: 20px;
  position: relative;
}

.skroll_left,
.skroll_right {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  background: #f8f7f4;
  border-radius: 50%;
  top: -8px;
  z-index: 1;
}

.skroll_left {
  left: 20px;
}

.skroll_right {
  right: 50px;
}

.skroll_field {
  width: 100px;
  height: 4px;
  background: #f8f7f4;
  position: absolute;
  left: 30px;
} 


.sorting-fatness {
  display: inline-block;
  vertical-align: bottom;
  width: 417px;
}

.sorting-fatness-item {
  display: inline-block;
  vertical-align: top;
}

.sorting-topping {
  
}

.sorting-topping-item {
  display: inline-block;
  margin-right: 10px;
}

.sorting-topping-item:last-child {
  margin-right: 0px;
}

.search-result {
  font-size: 0px;
}

.ice-cream-item-result {
  display: inline-block;
  vertical-align: top;
  width: 267px;
  min-height: 232px;
  margin-right: 26px;
  font-size: 16px;
  outline: 2px solid #0deb6c;
}

.ice-cream-item-result:nth-child(4n) {
  margin-right: 0;
}