html {
  background-color: #000;
  color: #fff; 
}

html,
body {
  margin: 0;
  padding: 0;
}

body
 {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  font-weight: bold;
}

h1 {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  
}

h2 {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 60px;
  line-height: 60px;
  font-weight: bold;
  
}

h3 {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

.slider {
  position: relative;
}

.slider-inner {
  
}

.slider-slides {
  width: 300%;
}

.slider-slides img {
  float: left;
}


.skroll {
  width: 400px;
  background: black;
  height: 5px;
  margin-top: 20px;
  position: relative;
}

.skroll_left,
.skroll_right {
  position: absolute;
  display: block;
  width: 20px;
  background: red;
  height: 20px;
  border-radius: 50%;
  top: -8px;
  z-index: 1;
}

.skroll_left {
  left: 50px;
}

.skroll_right {
  right: 50px;
}

.skroll_field {
  width: 293px;
  height: 5px;
  background: green;
  position: absolute;
  left: 54px;
} 