html {
  }

html,
body {
  margin: 0;
  padding: 0;
}

body
 {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  background-color: #000;
  
}

.clearfix::after {
  content:"";
  display: table;
  clear: both;
}

.wrapper {
  width: 1200px;
  background-color: #849d8f;
  margin: 0 auto;
  outline: 2px solid #0deb6c;
}

.main-header {
  margin-bottom: 10px;
  outline: 2px solid #0deb6c;
}

.container {
  position: relative;
  padding: 0 24px;
  outline: 2px solid #0deb6c;
}

.logo {
  float: left;
  width: 152px;
  margin-right: 12px;
  padding-top: 10px;
  padding-left: 0px;
  
}

.main-navigation {
  float: left;
  width: 397px;
  
  
}

.main-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  margin-top: 0px;
    
}

.main-menu > li{
  position: relative;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  
  font-size: 16px;
  line-height: 18px;
  
    
}

.main-menu a {
  display: block;
  padding: 10px 15px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.main-menu a:hover {
  background: #f7f6f3;
  border-radius: 14px;
  color: #000;
}

 .main-submenu{
  width: 144px;
  min-height: 170px; 
  position: absolute;
  top: 0px;
  left: 0px;
  
  display: none;
  list-style: none;
  margin: 0;  
  padding: 0;
  background-color: #f8f7f4;
  border-radius: 4px; 
  
  
}

.main-submenu a{
  font-size: 14px;
  line-height: 16px;
  color: #000;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 21px;
  font-weight: 400;
  
}

.main-submenu .novelty {
  
  font-weight: 700;
}


.main-menu > li:hover .main-submenu {
  display: block;
  top: 38px;
  left: 0px;
  z-index: 1;
}

.main-submenu a:hover {
   border-radius: 0px;
  background-color: #fbded7;
}

.user-blok {
  position: relative;
  float: right;
  width: 267px;
  min-height: 74px;
  outline: 2px solid #0deb6c;
}

.user-blok > div  {
  display: inline-block;
  vertical-align: top;
}

.user-blok a {
  display: block; 
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}

.search-icon {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: #a1b5aa;
  background-image: url('../img/Search.png'); 
  background-repeat:  no-repeat;
  background-position: 50%;
}

.login-icon {
  width: 92px;
  height: 33px;
  border-radius: 15px;
  background-color: #a1b5aa;
  background-image: url('../img/enter.png'); 
  background-repeat:  no-repeat;
  background-position: 15px 5px;
  
  
}

.shopping-icon {
  width: 118px;
  height: 33px;
  border-radius: 15px;
  background-color: #a1b5aa;
  background-image: url('../img/cart.png'); 
  background-repeat:  no-repeat;
  background-position: 15px 5px;
}

.timetable {
  position: absolute;
  top: 60px;
  right: 24px;
  outline: 2px solid yellow;
}

.time {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-align: right;
  margin-bottom: 10px;
}

.phone {
  margin: 0;
  padding: 0;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  text-align: right;
}


.slider {
  position: relative;
  min-height: 584px;
  outline: 2px solid #0deb6c;
  
}


.gift-container{
  min-height: 260px;
  margin-bottom: 10px;
  
}

.gift-item {
  float: left;
  width: 560px;
  min-height: 230px;
  margin-right: 26px;
  border-radius: 13px;
}


.gift-item:last-child {
  margin-right: 0px;
}

.raspberries {
  background: url(../img/raspberries.jpg);
}

.chocolate {
  background:url('../img/chocolate.jpg')
}

.gift-item h3 {
  margin: 0;
  padding: 0;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  margin-top: 19px;
  margin-bottom: 13px;
  margin-left: 19px;
}

.gift-item p {
  margin:0;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  margin-left: 20px;
}

/*.btn {
  width: 280px;
  height: 64px;
  background-image: linear-gradient(90deg, #e74a35, #f26843);
  
  position: absolute;
  left: 460px;
  top: 542px;
 
  z-index: 10;
}
*/
 
.ice-cream {
  margin-bottom: 39px;
  font-size: 0px;
  outline: 2px solid #0deb6c;
}

.ice-cream-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 267px;
  min-height: 232px;
  margin-right: 26px;
  font-size: 16px;
  outline: 2px solid #0deb6c;
}

.ice-cream-item:nth-child(4n) {
  margin-right: 0;
}

.ice-cream-image img {
  border-radius: 50%;
  margin-bottom: 7px;
}


.ice-cream-hit img {
  position: absolute;
  top: 0px;
  left: 0px;
  
  
}

.ice-cream-price {
  position: absolute;
  left: 0px;
  top: 210px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.ice-cream-price span {
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
  
}

.ice-cream-name {
  display: block;
  text-decoration: none;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #fff;
  padding-left: 5px;
  padding-right: 3px;
  text-align: center;
  
}

.features {
  margin-bottom: 40px;
  width: 1146px;
  background: #ffffff url('../img/wafe_pattern.jpg') repeat;
  padding-top: 1px;
  border-radius: 13px;
  color: #000;
 }

.features h3 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  margin-top: 23px;
  margin-left: 22px;
  margin-bottom: 23px;
}  

.features-left  {
  position: relative;
  float: left;
  width: 560px;
  margin-right: 26px;
  
}

.features-left p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  margin-bottom: 24px;
  padding-left: 78px;
}

.ice-cream-icon::before  {
  content: "";
  position: absolute;
  top: -13px;
  left: 22px;
  
  width: 49px;
  height: 49px;
  background: transparent url('../img/ice-cream-icon.png') no-repeat;
} 

.leaf-icon::before {
  content: "";
  position: absolute;
  top: 75px;
  left: 22px;
  width: 49px;
  height: 49px;
  
  background: transparent url('../img/leaf.png') no-repeat;
}

.features-right {
  position: relative;
  float:right;
  width: 560px;
}

.features-right p {
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
  padding-left: 59px;
  padding-right: 20px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.cow-icon::before {
  position: absolute;
  content: "";
  
  top: -13px;
  left: 2px;
  
  width: 49px;
  height: 49px;
  
  background: transparent url('../img/cow-icon.png') no-repeat;
}

.thermometer-icon::before {
  position: absolute;
  content: "";
  
  top: 75px;
  left: 2px;
  
  width: 49px;
  height: 49px;
  background: transparent url('../img/thermometer-icon.png') no-repeat;
} 

.communion {
  margin-bottom: 40px;
  outline: 2px solid #0deb6c;
}

.communion-item {
  width: 560px;
  min-height: 220px;
  float: left;
  margin-right: 26px;
  outline: 2px solid #0deb6c;
  border-radius: 14px;
}

.communion-item:last-child {
  margin-right: 0px;
}

.blog {
  font-size: 16px;
  line-height: 22px;
  color:  #323232;
  background: #ffffff url('../img/strawberry-background.jpg') no-repeat;
}

.blog p {
  margin:0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #323232;
  padding-left: 20px;
  padding-top: 23px;
  padding-bottom: 5px;
}

.blog a {
  display: block;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
  padding-left: 20px;
  padding-right: 258px;
}

.subscribe {
  
  font-size: 16px;
  line-height: 22px;
  font-weight: 400px;
  color: #5a5a5a;
  background-image: url('../img/letter_pattern.png');
}
 
.subscribe p {
  padding-top: 18px;
  padding-left: 27px;
  padding-right: 15px;
  margin-bottom: 35px;
}

.subscribe input[type="text"] {
  margin-left: 27px;
  padding-left: 11px;
  padding-top: 12px;
  padding-right: 157px;
  padding-bottom: 11px;
  border-radius: 4px;
}

.contacts {
  box-sizing: border-box;
  width: 1200px;
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
  min-height: 430px;
  margin: 0 auto;
  padding-left: 0px;
  padding-right: 0px;
  outline: 2px solid #0deb6c;
}
.contacts img {
  display: block;
}

.contacts-form {
  position: absolute;
  top: 62px;
  right: 26px;
  width: 303px;
  height: 305px;
  background-color: #fefefe;
  color: #000000;
  outline: 2px solid #0deb6c;
}

.main-footer {
  min-height:103px;
  
}

.footer-socials{
  width: 267px;
  float: left;
  min-height:103px;
  margin-right: 26px;
  outline: 2px solid #0deb6c;
}

.footer-socials a {
  display: inline-block;
  vertical-align: bottom;
}

.provider-info {
  float: left;
  min-height:103px;
  width: 560px;
  margin-right: 26px;
  outline: 2px solid #0deb6c;
}

.provider-info-left {
  display: inline-block;
  vertical-align: bottom;
  margin: 0;
  padding:0;
  list-style: none;
  margin-left: 130px;
  margin-right: 33px;
}

.provider-info-left li:first-child::before {
  content: "";
  background-image: url('../img/hart.png');
  
}

.provider-info-right {
  display: inline-block;
  vertical-align: bottom;
  margin: 0;
  padding:0;
  list-style: none;
}
  

.footer-copyright {
  display: inline-block;
  vertical-align: bottom;
  float: right;
  min-height:103px;
  width: 267px;
  outline: 2px solid #0deb6c;
 
}


.slider-inner {
  
}

.slider-slides {
  width: 300%;
}

.slider-slides img {
  float: left;
}

.catalog-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-menu > li {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

.catalog-menu > li:last-child {
  margin-right: 0px;
}

.filter {
  width: 880px;
  min-height: 138px;
  margin-bottom: 39px;
  outline: 2px solid #0deb6c;
}

.sorting-criterion {
  display: inline-block;
  vertical-align: bottom;
  width: 194px;
}

.sorting-price {
  display: inline-block;
  vertical-align: bottom;
 width: 220px;  
}

.price input[type="text"] {
  width: 55px;
}

.skroll {
  
  width: 190px;
  background: #d1dad3;
  height: 4px;
  margin-top: 20px;
  position: relative;
}

.skroll_left,
.skroll_right {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  background: #f8f7f4;
  border-radius: 50%;
  top: -8px;
  z-index: 1;
}

.skroll_left {
  left: 20px;
}

.skroll_right {
  right: 50px;
}

.skroll_field {
  width: 100px;
  height: 4px;
  background: #f8f7f4;
  position: absolute;
  left: 30px;
} 


.sorting-fatness {
  display: inline-block;
  vertical-align: bottom;
  width: 417px;
}

.sorting-fatness-item {
  display: inline-block;
  vertical-align: top;
}

.sorting-topping {
  
}

.sorting-topping-item {
  display: inline-block;
  margin-right: 10px;
}

.sorting-topping-item:last-child {
  margin-right: 0px;
}

.search-result {
  font-size: 0px;
  margin-bottom: 60px;
}

.ice-cream-item-result {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 267px;
  min-height: 232px;
  margin-right: 26px;
  font-size: 16px;
  outline: 2px solid #0deb6c;
}

.ice-cream-item-result:nth-child(4n) {
  margin-right: 0;
}


.pagination {
   width: 280px;
   padding: 10px;
   margin-left: 0px;
   white-space: nowrap;
  }


.pagination a {
  display: inline-block;
  vertical-align: bottom;
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #fff;
  min-width: 27px;
  height: 26px;
  padding: 0 10px;
  
  
}

.previous {
 margin-right: 10px;
}

.next{
  margin-left: 10px;
}

.current-page {
  color: #000;
  min-width: 27px;
  height: 27px;
border-radius: 50%;
  background: #ffffff; 
}